* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
header {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) ), url(https://i.imgur.com/at2livj.jpg);
	background-size: cover;
	background-position: 15% 0%;
	background-attachment: scroll;
	
	padding: 20px 0px;
}

main {
	margin-top: 25px;
}
input {
	width: 33%;
	margin-top: 50px;
	}

.Logo h1{
	display: inline-block;
	vertical-align: top;
	color: white;
	font-weight: bold;
	font-size: 35px;
	}
.searchLocation {
	border: none;
	background: rgba(255, 255, 255, 0.50);
	padding: 5px 10px; 
	line-height: 18px;
	font-size: 12px;
	border-radius: 5px
}
.submit {
	background: rgba(255, 255, 255);
	transition: color 0.25s linear;
	border: none;
	padding: 17px 10px;
	border-radius: 5px
}
.submit:hover {
	background: #20B2AA;
}
.license {
	display: inline-block;
	padding: 5px 10px;
	
	
}

.LicenseAttribution {
	display: flex;
	padding-top: 20px;
	
	text-align: center;
	background-color: rgba(220,220,220, .4)
	}

.LicenseAttribution img {
	width: 25%;
}

.LicenseAttribution p {
	font-size: 10px;
}
.LicenseAttribution h2 {
	font-size: 13px;
}
.cc {
	width: 17%;
	margin: 0 auto;
	text-align: center;
	
}
.LicenseAttribution li {
	list-style-type: none;
}


.PublicDomain {
	float: left;
	border-right: 2px black;
	border-left: 2px black;
}

.Attribution {
	float: left;
	border-right: 2px black;
	border-left: 2px black;
}
.Share-alike {
	float: left;
	border-right: 2px black;
	border-left: 2px black;
}

.Non-commercial {
	float: left;
	border-right: 2px black;
	border-left: 2px black;
}
.results .logoDesign {
	text-align: left;
	margin-left: 150px;
	display: inline-block;
	float: left; /*for some reason this causes only flickr to move slightly */
	width: 20%;
	height: auto;
	margin: 0;
}

.results h1 {
	text-align: center;
	margin-bottom: 
}
.saveImage {
	text-align: center;
}
.siteNavigate{
	text-align: center;
	color: black;
	text-decoration: underline;
}
/*.flickrTitle {
	padding-top: 150px
}*/
.flickr {
	width: 80%;
	display: flex;
	background:#fff; 
	margin: auto;
	
}

.wiki {
	width: 80%;
	display: flex;
	background:#fff; 
	margin: auto;
}

.pixabay {
	width: 80%;
	display: flex;
	background:#fff; 
	margin: auto;
}

#previousFlickr {
	float: left;
	border: none;
	color: black;
	font-size: 150px;

}

#flickrResults {
	width: 100%;
	text-align: center;
}
#flickrResults li {
	display: inline-block;
}

#nextFlickr {
	float: right;
	border: none;
	color: black;
	font-size: 150px;
}

#previouswiki {
	float: left;
	border: none;
	color: black;
	font-size: 150px;
}

#wikiResults {
	width: 100%;
	text-align: center;
}
#wikiResults {
	padding-left: 0;
}
#wikiResults li {
	display: inline-block;
	
}
#wikiResults img{

}

#previousWiki {
	float: left;
	border: none;
	color: black;
	font-size: 150px;
}

#nextWiki {
	float: right;
	border: none;
	color: black;
	font-size: 150px;
}

#previousPixabay {
	float: left;
	border: none;
	color: black;
	font-size: 150px;
}

#pixabayResults {
	width: 100%;
	text-align: center;
}
#pixabayResults {
	padding-left: 0;
}
#pixabayResults li {
	display: inline-block;
}
#nextPixabay {
	float: right;
	border: none;
	color: black;
	font-size: 150px;
}
.results img {
	width: 200px;
	height: auto;
	float: left;
}

.results h1 {
	background-color: none;
	
}
ul {
	list-style-type: none;
}

button:hover {
    background-color: #ddd;
    color: black;
}


body {
    margin:0; 
    padding:0; 
    background:#efefef;
    text-align:center; /* used to center div in IE */
}

.flickr li {
	border: 1px black;
	width: auto;
	}

.wiki li {
	border: 1px black;
	background:#fff; 
	width: auto;
	}

.flickr ul {
	background:#fff;
	margin-left: 0;
	padding-left: 0;
}

.flickrImages img {
	padding: 7px;
}

.pixabayImages img {
	padding: 7px;
}

.wikiImages img {
	padding: 7px;
}

.toTop {
	border: none;
	
	padding: 20px;
}
@media only screen and (max-width: 600px) {
	.siteNavigation{
		margin-left: 50px;
	}
	.logo h1 {
		margin-top: 100px;
		
	}
	.imagelogo {
		width: 10%;
		height: auto;
	}
	header {
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) ), url(https://i.imgur.com/at2livj.jpg);
	background-size: cover;
	background-position: 15% 0%;
	background-attachment: scroll;
	padding: 20px 0px;
	}
	.LicenseAttribution {
		padding-left: 0;
		margin-top: 40px
	}
	.results h1 {
		font-size: 25px;
	}
}

@media screen and (min-width: 600px) {
	

	.imageLogo {
	width: 15%;
	height: auto;
	margin-top: 80px;
	}
	.Logo h1{
	margin-top: 130px;
	}
	.LicenseAttribution {
		margin-top: 130px;
	}
}
